<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Strona domowa</title>
</head>
<body>
    <section>
        <div class="backing">
            <div class="text-grey text-center">
                <h1>Notatki Online</h1>
                <p>Zacznij zapisywać swoje notatki
                    i miej dostęp do nich z kazdego urządzenia </p>
                <button class="btn bg-primary text-white">Zacznij</button>
            </div>
        </div>
    </section>

</body>
</html>
